.battary {
    width: 200px;
    height: 80px;
    border: 3px solid black;
    margin: 30px;
    position: relative;


    &::after {
        content: '';
        width: 15px;
        height: 35px;
        background-color: black;
        position: absolute;
        top: calc(50% - 17px);
        right: -15px;
    }

    &::before {
        content: '';
        height: 100%;
        width: 35%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to right, red, green);
    }
}

@mixin flexAling($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}

.menu {
    @include flexAling(flex-start);

    &__item {
        width: 120px;
        height: 50px;
        background: linear-gradient(to right, orange, lightblue);
        @include flexAling;
        clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
        padding-right: 15px;
        box-sizing: border-box;
        position: relative;
        transition: .3s;
        cursor: pointer;
        user-select: none;//запрет на выделение кнопок

        &:hover {
            z-index: 3;
            transform: scale(1.2);
            padding-right: 15px;
            animation-name: buttonAnimation;
            animation-duration: 2s;//ввремя действия
            animation-delay: .6s;//время через которое сработает
            animation-iteration-count: 3;//infinite
        }
        

        &_first {
            z-index: 2;
        }

        &_second {
            left: -24px;
            z-index: 1;
            padding-right: 0;
        }

        &_third {
            left: -48px;
            padding-right: 0;
        }
    }
}

@keyframes buttonAnimation {
    // from {
    //     transform: rotate(-20deg);
    // }

    // to {
    //     transform: rotate(20deg);
    // }

    0% {
        transform: rotate(0);
    }

    40% {
        transform: rotate(-20deg);
    }

    70% {
        transform: scale(2);
    }

    100% {
        transform: rotate(20deg);
    }
}

.container {
    width: 100%;
    border: 2px solid green;
    box-sizing: border-box;
    padding: 10px;
    @include flexAling(space-between);

    @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    @media screen and (max-width: 768px) {
        flex-wrap: nowrap;
        padding-bottom: 0;
        flex-direction: column;
    }



    &__item {
        height: 60px;
        width: 100%;
        background-color: blue;
        color: white;
        font-size: 30px;
        font-weight: bold;
        @include flexAling;
        margin-right: 10px;

        @media screen and (max-width: 1024px) {
            width: 49%;
            margin-right: 0;
            margin-bottom: 10px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

